/* @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff'); */

@font-face {
    font-family: 'HSBombaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Handletter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
    background: black;
    z-index: -10000;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}


section.titlepage h1.maintxtEng {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    padding-top: 2.5rem;
    width: 100vw;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 100;
    color: #961414;
    /* letter-spacing: 34px; */
    font-family:'Handletter';
    z-index: 100;
    
}

section.titlepage h1.maintxtKor {
    position: absolute;
    width: 100vw;
    left: 50%;
    top: 40%;
    /* bottom: 50%; */
    letter-spacing: 3.75rem;
    transform: translate(-50%, -40%);
    text-align: center;
    /* padding-topß: 5vh; */
    font-size: 6.25rem;
    font-weight: 100;
    color:#ffffff;
    font-family: 'HSBombaram';
    z-index: 100;;
}

section.titlepage h1.maintxtEng div {
    display: inline-block;
    /* letter-spacing: -7px; */

}

section.titlepage h1.maintxtKor div {
    display: inline-block;
    /* letter-spacing: -7px; */

}

.mainWrap {
    /* background:black; */
    width: 100vw;
    height: 100vh;
}


.mainImgWrap {
    position: relative;
    width: 25rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    
}

.mainWrap .mainImgWrap img {
    width: inherit;
    z-index: 1000;
    /* opacity: 0.35; */
    animation: fadein 1s ease forwards;
    -moz-animation: fadein 1s ease forwards;
    -webkit-animation: fadein 1s ease forwards;
    

}

.mainWrap .arrowdown { 
    position: fixed;
    bottom: 10%;
    width: 1.875rem;
    right: 50%;
    transform: translateX(50%);
    filter: invert();
    z-index: 10000;
}

.mainWrap .arrowdown img {
    position: fixed;
    animation: blink-effect 2s ease-in-out infinite;
    width: 1.875rem;
    cursor:pointer;
  
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 0.35;
    }
}

@-webkit-keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 0.35;
    }
}

.page2 {
    color: #ffffff;
}